.card-label {
  position: absolute;
  right: 0;
  bottom: 90px;
  background-color: #0d0d0d;
  padding: 8px 32px;
  font-size: 12px;
  font-family: "Segoe UI";
  font-weight: bold;
  color: #fafafa;
}
